# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Robot Framework outputs
output.xml
log.html
report.html
*.log
reports/
results/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Node (caso use algo no frontend auxiliar)
node_modules/

# Playwright cache (caso use junto no futuro)
playwright-report/
test-results/
